# Игнорировать папку с скомпилированными файлами
bin/

# Игнорировать настройки проекта Eclipse
.settings/
.classpath
.project
.metadata/

# Игнорировать временные файлы
*.class
*.log

# Игнорирование директории images
images/

# Игнорирование всех mp4 файлов
*.mp4

# Игнорирование всех jpg файлов
*.jpg

# Игнорирование других больших файлов, если нужно
*.png
*.gif

# Игнорирование Maven
target/
*.jar
*.war
*.ear

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование файла для локальной конфигурации
settings.xml

# Игнорирование пользовательских настроек
*.user
*.sublime-workspace
*.sublime-project

# Ignore large media files in images folder
file-uploader/images/*.mp4
file-uploader/images/*.jpg
file-uploader/images/*.pdf

